
/*espacamento dos botões de exportação*/
.dataTables_wrapper .dataTables_paginate {
    padding-bottom: 2em;
}

/*ajuste da descrição de seleção de registros*/
.select-info .select-item{
     display: flex;
     margin-left: 0 !important;
}